@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  transition: all ease .1s;

  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}



#root {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}